.c {
	background-color: red;
}

.navbar
{
    background-color: gray;
}

#jumbotron-id {
	padding: 50px;
	margin: 0px;
	background-color: #66CCFF;
}

.footer {
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: gray;
}